@use "../../styles/mixins.scss" as mixins;
@import "../../styles/variables.scss";

.link {
  @include mixins.display-flex(inline-flex, center, center);
  padding: 6px;
  margin-left: 10px;
  border: none;
  border-radius: $radius;
  background-color: $black;
  color: $white;
  font-size: $small-font;
  font-weight: 500;
  //   box-shadow: $outerShadow;
  text-decoration: none;

  &:hover {
    outline: 1px solid $black;
    background-color: $white;
    color: $black;
  }

  &:active {
    outline: 1px solid $black;
    background-color: $white;
    color: $black;
    box-shadow: $innerShadow;
  }

  & svg {
    margin-right: 0;
    @include mixins.tablet {
      margin-right: 4px;
    }
  }

  & span {
    display: none;
    @include mixins.tablet {
      display: inline;
    }
  }
}
