@import "../../styles/variables.scss";

.name {
  & h2 {
    font-size: $h2;
    margin-bottom: 5px;
  }

  & h3 {
    font-family: "Roboto-Medium", sans-serif;
    font-size: $h3;
    & a {
      color: $grey;
    }
  }
}
