@import "../../styles/variables.scss";

.name {
  & h3 {
    font-size: $h2;
    font-weight: 700;
    margin-bottom: 5px;
  }

  & h4 {
    font-weight: 500;
    & a {
      color: $grey;
    }
  }
}
