@use "../../styles/mixins.scss" as mixins;
@import "../../styles/variables.scss";

.container {
  margin-top: 15px;
}
.listContainer {
  margin: 0 -4px;
}

.listOptions {
  @include mixins.display-flex(flex, center, center);
  height: 40px;
  margin-top: 15px;
}
