@use "../../../styles/mixins.scss" as mixins;
@import "../../../styles/placeholders.scss";
@import "../../../styles/variables.scss";

.card {
  width: 100%;
  padding: 10px;
  border-radius: $radius;
  box-shadow: $outerShadow;
  background-color: $white;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.container {
  @include mixins.display-flex(flex);

  &:not(:last-child) {
    border-bottom: 1px solid $lightgrey;
    padding-bottom: 10px;
  }
}

.userinfo {
  @include mixins.display-flex(flex);
  flex-grow: 1;
  cursor: pointer;
}

.avatar {
  width: 60px;
  height: auto;
}

.info {
  @include mixins.display-flex(flex, null, null, column);
  width: 100%;
  padding-left: 10px;

  & h2 {
    margin-bottom: 10px;
    font-size: $h3;
    color: $black;
  }

  & p {
    font-size: $small-font;
    color: $lightgrey;
    word-break: break-word;
  }
}

.favorite {
  width: 40px;
  @extend %favorite-btn-hover;
}

.stats {
  @include mixins.display-flex(flex, center, center, column);
  width: calc(100% / 3);
  padding-top: 10px;

  & h3 {
    margin-bottom: 10px;
    color: $grey;
    font-size: $small-font;
    font-weight: 700;
  }

  & p {
    color: $lightgrey;
  }
}
