@use "../../styles/mixins.scss" as mixins;
@import "../../styles/variables.scss";

.button {
  @include mixins.display-flex(inline-flex, center, center);
  padding: 8px 8px;
  border: none;
  border-radius: $radius;
  background-color: $black;
  color: $white;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 1;

  &:hover {
    outline: 1px solid $black;
    background-color: $white;
    color: $black;
  }

  &:active {
    outline: 1px solid $black;
    background-color: $white;
    color: $black;
    box-shadow: $innerShadow;
  }

  & svg {
    margin-right: 0;
    @include mixins.breakpoint(min-width, $tablet) {
      margin-right: 4px;
    }
  }

  & span {
    display: none;
    @include mixins.breakpoint(min-width, $tablet) {
      display: inline;
    }
  }
}
