@use "../../../styles/mixins.scss" as mixins;
@import "../../../styles/variables.scss";

.listItem {
  @include mixins.display-flex(flex, null, null, column);
  padding: 10px 8px;
  background-color: $white;
  border-radius: $radius;
  box-shadow: $outerShadow;
  margin: 0 4px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 4px;
  }

  & h4 {
    margin-bottom: 10px;
    color: $black;
  }

  & p {
    color: $grey;
  }
}
