@use "../../../styles/mixins.scss" as mixins;
@import "../../../styles/variables.scss";

.listItem {
  @include mixins.display-flex(flex, null, null, column);
  padding: 10px 8px;
  background-color: $white;
  border-radius: $radius;
  box-shadow: $outerShadow;
  margin: 0 4px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  @include mixins.keyframes(showItem) {
    from {
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
    }

    to {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  animation: showItem $time ease-in-out;
  @include mixins.delay(animation, 15, $delay);
  animation-fill-mode: forwards;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 4px;
  }

  & h4 {
    margin-bottom: 10px;
    color: $black;
  }

  & p {
    color: $grey;
  }
}

.showItem {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
