//Breakpoints
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin display-flex($display, $horizontal: null, $vertical: null) {
  display: $display;
  @if $horizontal {
    justify-content: $horizontal;
  }
  @if $vertical {
    align-items: $vertical;
  }
} ;
