@import "./variables.scss";

//Breakpoints
@mixin mobile {
  @media (min-width: 320px) and (max-width: 449px) {
    @content;
  }
}

@mixin mobileMd {
  @media (min-width: 450px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin display-flex(
  $display,
  $horizontal: null,
  $vertical: null,
  $direction: null
) {
  display: $display;
  @if $horizontal {
    justify-content: $horizontal;
  }
  @if $vertical {
    align-items: $vertical;
  }
  @if $direction {
    flex-direction: $direction;
  }
} ;

@keyframes showItem {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

@mixin delay($rule, $number, $value) {
  @for $i from 1 to ($number + 1) {
    &:nth-child(#{$i}) {
      #{$rule}-delay: (#{$i*$delay});
    }
  }
}