// colors
$black: #000000;
$white: #ffffff;
$bodyColor: #efeeee;
$lightgrey: #9f9f9f;
$grey: #686868;
$yellow: #e8dc14;
$focus: #125fcc;

//options
$radius: 4px;
$outerShadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
$innerShadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset;

//animation options
$transition: 250ms ease-out;
$time: 600ms;
$delay: 200ms;

//sizes
$header-height: 60px;
$avatar-small: 60px;
$avatar-middle: 130px;
$avatar-large: 200px;

//fonts
$h1: 28px;
$h2: 24px;
$h3: 18px;
$p: 16px;
$small-font: 14px;

//breakpoints
$mobile: 450;
$tablet: 768;
$laptop: 1024;
$desktop: 1200;

:export {
  lightgrey: $lightgrey;
  yellow: $yellow;
  laptop: $laptop;
}
