// colors
$black: #000000;
$white: #ffffff;
$bodyColor: #efeeee;
$lightgrey: #9f9f9f;
$grey: #686868;
$yellow: #e8dc14;
$focus: #125fcc;

//options
$header-height: 60px;
$outerShadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
$innerShadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset;
$transition: 250ms ease-out;

//fonts
$h1: 28px;
$h2: 22px;
$h3: 18px;
$p: 16px;
