@use "../../styles/mixins" as mixins;
@import "../../styles/placeholders.scss";
@import "../../styles/variables";

.container {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: $header-height;
  align-items: center;
  width: 100%;
  background-color: $white;
  box-shadow: $outerShadow;

  &__isSearch {
    grid-template-columns: 0.5fr 7.5fr;

    @include mixins.breakpoint(min-width, $laptop) {
      grid-template-columns: 1fr 1.5fr 1fr;
    }
  }
}

.logoAndTitleContainer {
  @include mixins.display-flex(flex, null, center);
}

.titleContainer {
  visibility: visible;
  padding-right: 8px;
  width: 100%;

  &__isSearch {
    visibility: hidden;
    max-width: 0;
    padding-right: 0;
    transform: scale(0);
    transition-property: transform, max-width;
    transition: $transition;
    transform-origin: left;

    @include mixins.breakpoint(min-width, $tablet) {
      visibility: visible;
      padding-right: 8px;
      max-width: 500px;
      transform: scale(1);
    }
  }
}

.pageTitle {
  font-size: $h3;
  line-height: 1;
  white-space: nowrap;
  transition: font-size $transition;

  @include mixins.breakpoint(min-width, $tablet) {
    font-size: $h2;
  }

  @include mixins.breakpoint(min-width, $laptop) {
    font-size: $h1;
  }
}

.backButtonContainer {
  margin-left: 15px;
  margin-right: 8px;
}

.textFieldContainer {
  @include mixins.display-flex(flex);
}

.alignRight {
  justify-content: right;
}

.adornment {
  color: $lightgrey;
}

.favLinkContainer {
  color: $lightgrey;
  border-radius: 4px;

  @extend %favorite-btn-hover;
}
