@use "../../styles/mixins" as mixins;
@import "../../styles/variables";

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height;
  align-items: center;
  width: 100%;
  background-color: $white;
  box-shadow: $outerShadow;

  &--isSearch {
    grid-template-columns: 0.5fr 7.5fr;

    @include mixins.tablet {
      grid-template-columns: 1fr 1.5fr 1fr;
    }
  }
}

.logoAndTitleContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 10px;
  background-color: $white;
  z-index: 2;
}

.titleContainer {
  visibility: visible;
  padding-right: 8px;
  width: 100%;

  &--isSearch {
    max-width: 0;
    padding-right: 0;
    transform: scale(0);
    transition-property: transform, max-width;
    transition: $transition;
    transform-origin: left;

    @include mixins.tablet {
      visibility: visible;
      padding-right: 8px;
      max-width: 500px;
      transform: scale(1);
    }
  }
}

.textFieldContainer {
  display: flex;
}

.favLink {
  @include mixins.display-flex(flex, center, center);
  width: 40px;
  height: 40px;
  color: $lightgrey;
  transition: color $transition;

  &:hover {
    color: $yellow;
  }
}
