@import "../../styles/variables.scss";

.avatarThumb {
  border-radius: 50%;
  overflow: hidden;

  & img {
    object-fit: cover;
  }
}

.small {
  width: $avatar-small;
  height: $avatar-small;
}

.large {
  width: $avatar-large;
  height: $avatar-large;
}

.middle {
  width: $avatar-middle;
  height: $avatar-middle;
}
