@use "../../../../styles/mixins.scss" as mixins;
@import "../../../../styles/variables.scss";

.dropdown_item {
  @include mixins.display-flex(flex, null, null, column);
  background-color: $white;
  border-radius: $radius;
  box-shadow: $outerShadow;
  margin: 0 4px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  @include mixins.keyframes(showItem) {
    from {
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
    }

    to {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  animation: showItem $transition;
  @include mixins.delay(animation, 15, $delay);
  animation-fill-mode: forwards;

  & .link {
    padding: 10px 8px;
    border-radius: $radius;
    color: $black;

    &:hover,
    &:focus {
      background-color: $grey;
      color: $white;

      & .itemDescription {
        color: $white;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 4px;
  }

  & .itemTitle {
    margin-bottom: 10px;
  }

  & .itemDescription {
    color: $grey;
  }
}

.showItem {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
