@use "../../styles/mixins.scss" as mixins;
@import "../../styles/placeholders.scss";
@import "../../styles/variables.scss";

.button {
  @include mixins.display-flex(inline-flex, center, center);
  @extend %full-size;
  padding: 8px;
  border: none;
  border-radius: $radius;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    box-shadow: $outerShadow;
  }

  &:active {
    background-color: transparent;
    box-shadow: $innerShadow;
  }
}

.sticky {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $black;
  opacity: 0.5;
  color: $lightgrey;
  transition-property: opacity, color;
  transition: $transition;

  &:hover {
    opacity: 1;
    color: $white;
  }

  &:active {
    outline: 0;
    background-color: $grey;
    color: $lightgrey;
    box-shadow: $innerShadow;
  }
}
