@use "../../styles/mixins.scss" as mixins;
@import "../../styles/placeholders.scss";
@import "../../styles/variables.scss";

.listOptions {
  @include mixins.display-flex(flex, center, center);
  height: 40px;
  margin-top: 15px;

  & .finalText {
    font-family: "Roboto-Bold", sun-serif;
    line-height: 1;
  }
}
